<content-list-item>
  <p>{{ contentItems[0].realName }}</p>
  <img src="{{contentItems[0].png}}"/>
  <p>{{ contentItems[0].age }}</p>
  <p>{{ contentItems[0].characterName }}</p>
</content-list-item>

<content-list-item>
  <p>{{ contentItems[1].realName }}</p>
  <img src="{{contentItems[1].png}}"/>
  <p>{{ contentItems[1].age }}</p>
  <p>{{ contentItems[1].characterName }}</p>
</content-list-item>

<content-list-item>
  <p>{{ contentItems[2].realName }}</p>
  <img src="{{contentItems[2].png}}"/>
  <p>{{ contentItems[2].age }}</p>
  <p>{{ contentItems[2].characterName }}</p>
</content-list-item>

<content-list-item>
  <p>{{ contentItems[3].realName }}</p>
  <img src="{{contentItems[3].png}}"/>
  <p>{{ contentItems[3].age }}</p>
  <p>{{ contentItems[3].characterName }}</p>
</content-list-item>
